*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
}
.one{
    background-image: url('one.jpg');
    width: 100%;
    height: 100vh;
    background-position-x: 50%;
    background-position-y: 17%;
    overflow: hidden;
    background-size: cover;
    nav{
        width: 100%;
       ul{
           display: flex;
           .logo{
               width: 15%;
               img{
                   margin-left: -80em;
                   margin-top: -110em;
                   width: 500em;
               }
           }
           .items{
               width: 70%;
               display: flex;
               justify-content: center;
               
               li{
                   padding: 80em 40em;  
               }
               a{
                   color: white;
                   font-size: 1.5rem;
                   text-transform: uppercase;
                   &:hover{
                       text-decoration: underline;
                   }
               }
           }
           .navigation-img{
               position: absolute;
               right: 20em;
               top: 30em;
               z-index: 3;
               img{
                   width: 80em;
                   cursor: pointer;
               }
           }
           #check-box{
               display: none;
           }
           .navigation{
               position: absolute;
               background-color: black;
               height: 91.3vh;
               width: 30%;
               z-index: 2;
               right:-2000em;
               padding-top: 60em;
               transition: 0.5s;
  
               ul{
                   display: inline-block;
                   li{
                       margin-top: 10%;
                       text-align: right;
                       border-bottom: 1px solid rgba(220, 220, 220,0.3);
                       a{
                            text-transform: uppercase;
                            font-size: 2rem;
                            padding-left:14em;
                            color: blanchedalmond;
                       }
                   }
               }
           }
       }
    }
    #check-box:checked +.navigation{
        transition: 0.5s;
        display: initial;
        right: 0em;
    }
    .content{
        position: relative;
        top:50%;
        left: 5%;
        text-transform: uppercase;
        p{
            color: white;
            font-size: 2rem;
        }
        h1{
            color: white;
            font-size: 3rem;
            font-weight: 900;
        }
        button{
            margin-top: 1em;
            color: white;
            background-color: transparent;
            font-size: 1.5rem;
            border: 2px solid white;
            padding: 0.5em 1.5em;
            font-weight: 200;
            text-transform: uppercase;
            transition: 1s;
            &:hover{
                box-shadow: 0px -200px 0px 20px white inset;
                color: black;
                transition: 1s;
            }
        }
    }
    .arrow-div{
        width: 100%;
        height: 10em;
        position: relative;
        display: flex;
        justify-content: center;
        top: 50%;
        .arrow{
            img{
                width: 20em;
                animation: updown 2s infinite;
            }
        }
    }
}
@keyframes updown {
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(5px);
        opacity: 0;
    }
}
/*------------------------------------------------------*/
.two{
    background-image: url('two.jpg');
    background-position-y:33%;
    background-position-x:-120%;
    .content{
        top:60%;
    }
    .arrow-div{
        top:70%;
    }
}
/*------------------------------------------------------*/
.three{
    background-image: url('three.jpg');
    background-position-x:90%;
    background-position-y:45%;
    .arrow-div{
        top:60%;
    }
}
/*------------------------------------------------------*/
.four{
    background-image: url('four.jpg');
    .arrow-div{
        top: 60%;
    }
}
/*------------------------------------------------------*/
.five{
    background-image: url('five.jpg');
    background-position-y: 50%;
    .arrow-div{
        border: none;
        top:60%;
    }
}
/*------------------------------------------------------*/
footer{
    width: 100%;
    height: 10vh;
    background-color: black;
    text-transform: uppercase;
    ul{
        display: flex;
        padding: 2% 0;        
        justify-content: center;
        p{
            color: rgb(173, 173, 173);
            font-size: 1rem;
        }
        li{
            a{
                color: blanchedalmond;
                padding: 0 2em;
                font-size: 1rem;
                &:hover{
                    color: rgb(173, 173, 173);
                }
            }
        }
    }
}
/*-----------------------------------------------------------------------*/
@media (min-width:233px) and (max-width:320px) {
    .one{
        nav{
            ul{
                .logo{
                    width: 60%;
                    margin-left: 30em;
                    img{
                        width: 400em;
                    }
                }
                .items{
                    display: none;
                }
                .navigation-img{
                    top: 10em;
                    img{
                        width: 50em;
                    }
                }
                .navigation{
                    height:100vh;
                    width: 80%;
                    ul{
                        li{
                            a{
                                font-size: 1rem;
                                padding-left: 20em;
                            }
                        }
                    }
                }
                #check-box:checked +.navigation{
                    transition: 0.5s;
                    display: initial;
                    right: 0em;
                }
            }
        }
        .content{
            top: 30%;
            p{
                font-size:1rem;
            }
            h1{
                font-size: 2rem;
            }
        }
        .arrow-div{
            display: none;
        }
    }
    .two{
        .content{
            top: 55%;
        }
    }
    .three{
        .content{
            top: 55%;
        }
    }
    .four{
        .content{
            top: 55%;
        }
    }
    .five{
        .content{
            top: 55%;
        }
    }
    footer{
       ul{
           display: block;
           p{
               text-align: center;
            }
        }
    }
}
/*-------------------------------------------------------------------*/
@media (min-width:321px) and (max-width:375px){
    .one{
        nav{
            ul{
                .logo{
                    width: 60%;
                    margin-left: 30em;
                    img{
                        width: 400em;
                    }
                }
                .items{
                    display: none;
                }
                .navigation-img{
                    top: 10em;
                    img{
                        width: 50em;
                    }
                }
                .navigation{
                    height:100vh;
                    width: 80%;
                    ul{
                        li{
                            a{
                                font-size: 1rem;
                                padding-left: 24.5em;
                            }
                        }
                    }
                }
                #check-box:checked +.navigation{
                    transition: 0.5s;
                    display: initial;
                    right: 0em;
                }
            }
        }
        .content{
            top: 40%;
            p{
                font-size:1rem;
            }
            h1{
                font-size: 2rem;
            }
        }
        .arrow-div{
            display: none;
        }
    }
    .two{
        .content{
            top: 60%;
        }
    }
    .three{
        .content{
            top: 60%;
        }
    }
    .four{
        .content{
            top: 60%;
        }
    }
    .five{
        .content{
            top: 60%;
        }
    }
    footer{
        ul{
            display: block;
            p{
                text-align: center;
             }
         }
     }
}
/*-------------------------------------------------------------------*/
@media (min-width:376px) and (max-width:425px){
    .one{
        nav{
            ul{
                .logo{
                    width: 60%;
                    margin-left: 30em;
                    img{
                        width: 400em;
                    }
                }
                .items{
                    display: none;
                }
                .navigation-img{
                    top: 10em;
                    img{
                        width: 50em;
                    }
                }
                .navigation{
                    height:100vh;
                    width: 80%;
                    ul{
                        li{
                            a{
                                font-size: 1rem;
                                padding-left: 27.9em;
                            }
                        }
                    }
                }
                #check-box:checked +.navigation{
                    transition: 0.5s;
                    display: initial;
                    right: 0em;
                }
            }
        }
        .content{
            top: 40%;
            p{
                font-size:1rem;
            }
            h1{
                font-size: 2rem;
            }
        }
        .arrow-div{
            display: none;
        }
    }
    .two{
        background-position-x: 70%;
        background-position-y: 0%;
        .content{
            top: 60%;
        }
    }
    .three{
        .content{
            top: 60%;
        }
    }
    .four{
        .content{
            top: 60%;
        }
    }
    .five{
        .content{
            top: 60%;
        }
    }
    footer{
        ul{
            display: block;
            p{
                text-align: center;
             }
         }
     }
}
/*-------------------------------------------------------------------*/
@media (min-width:426px) and (max-width:768px){
    *{
        overflow-x: hidden;
    }
    .one{
        nav{
            ul{
                .logo{
                    width: 60%;
                    margin-left: 20em;
                    img{
                        width: 400em;
                    }
                }
                .items{
                    width: 100%;
                    display: flex;
                    position: absolute;
                    left: 55em;
                    top:10em;
                    
                    li{
                        padding: 20em 10em;  
                    }
                    a{
                        color: white;
                        font-size: 1rem;
                        margin-left: 1.2em;
                        text-transform: uppercase;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .navigation-img{
                    top: 10em;
                    img{
                        width: 50em;
                    }
                }
                .navigation{
                    height:100vh;
                    width: 80%;
                    ul{
                        li{
                            a{
                                font-size: 1rem;
                                padding-left: 56em;
                            }
                        }
                    }
                }
                #check-box:checked +.navigation{
                    transition: 0.5s;
                    display: initial;
                    right: 0em;
                }
            }
        }
        .content{
            top: 40%;
            p{
                font-size:1rem;
            }
            h1{
                font-size: 2rem;
            }
        }
        .arrow-div{
            display: none;
        }
    }
    .two{
        background-position-x: 70%;
        background-position-y: 0%;
        .content{
            top: 60%;
        }
    }
    .three{
        .content{
            top: 60%;
        }
    }
    .four{
        .content{
            top: 60%;
        }
    }
    .five{
        .content{
            top: 60%;
        }
    }
    
}
/*----------------------------------------------------------------*/
@media (min-width:769px) and (max-width:1024px){
    *{
        overflow-x: hidden;
    }
    .one{
        nav{
            ul{
                .logo{
                    width: 60%;
                    margin-left: 20em;
                    img{
                        width: 400em;
                    }
                }
                .items{
                    width: 100%;
                    display: flex;
                    position: absolute;
                    left: 55em;
                    top:10em;
                    
                    li{
                        padding: 20em 10em;  
                    }
                    a{
                        color: white;
                        font-size: 1.5rem;
                        margin-left: 1.2em;
                        text-transform: uppercase;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .navigation-img{
                    top: 10em;
                    img{
                        width: 50em;
                    }
                }
                .navigation{
                    height:100vh;
                    width: 80%;
                    ul{
                        li{
                            a{
                                font-size: 1rem;
                                padding-left: 76em;
                            }
                        }
                    }
                }
                #check-box:checked +.navigation{
                    transition: 0.5s;
                    display: initial;
                    right: 0em;
                }
            }
        }
        .content{
            top: 40%;
            p{
                font-size:1rem;
            }
            h1{
                font-size: 2rem;
            }
        }
        .arrow-div{
            display: flex;
        }
    }
    .two{
        background-position-x: 70%;
        background-position-y: 0%;
        .content{
            top: 60%;
        }
    }
    .three{
        .content{
            top: 60%;
        }
    }
    .four{
        .content{
            top: 60%;
        }
    }
    .five{
        .content{
            top: 60%;
        }
    }   
}
/*----------------------------------------------------------------*/
/*All Task Completed*/